html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border__table--buffer {
  position: relative;
}

.border__table--buffer:after {
  content: "";
  height: 14px;
  width: 1px;

  position: absolute;
  right: 0;
  top: 42.5%;

  background-color: #e0e0e0;
}

.border__table--buffer:before {
  content: "";
  height: 14px;
  width: 1px;

  position: absolute;
  left: 0;
  top: 42.5%;

  background-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    /* color: white; */
    /* background: black; */
  }
}
